#fonts
AddType font/ttf .ttf
AddType font/eot .eot
AddType font/otf .otf
AddType font/woff .woff

<IfModule mod_rewrite.c>

RewriteEngine On
RewriteCond %{SERVER_NAME} =srv.re
RewriteCond %{REQUEST_URI} !^/_html_template/www/.*$
RewriteRule ^(.*)$ /_html_template/www/$1 [L]

#herokuapp
RewriteCond %{SERVER_NAME} =_html_template.herokuapp.com
RewriteCond %{REQUEST_URI} !^/www/.*$
RewriteRule ^(.*)$ /www/$1 [L]

</IfModule>