<section id="login" class="view">

    <div class="row">
        <div class="columns small-12">

            <form ng-submit="save(formdata)" novalidate="" name="form" ng-class="'state-'+state">
                <fieldset>
                    <div class="row field">
                        <div class="small-3 columns">
                            <label for="field-username" class="right inline">
                                Username
                            </label>
                        </div>
                        <div class="small-9 columns">
                            <input id="field-username" type="text" required="required"  ng-disabled="processing"
                                   ng-model="formdata.username" name="username" placeholder="Username" />

                        </div>
                    </div>

                    <div class="row field">
                        <div class="small-3 columns">
                            <label for="field-username" class="right inline">
                                Password
                            </label>
                        </div>
                        <div class="small-9 columns">
                            <input id="field-password" type="password" required="required"  ng-disabled="processing"
                                   ng-model="formdata.password" name="password" placeholder="Password" />

                        </div>
                    </div>

                    <div class="errors ng-cloak" ng-show="state == 'submitted' && form.$invalid">
                        <div class="row">
                            <div class="columns small-12 text-center">
                                <div >

                                    <p>
                                        You must enter your username and password.
                                    </p>



                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="fail ng-cloak" ng-show="state == 'invalid' &&form.$pristine">
                        <div class="row">
                            <div class="columns small-12 text-center">
                                <div >

                                    <p>
                                        Invalid username or password.
                                    </p>

                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="columns small-12 text-center">
                            <button type="submit" ng-disabled="processing">Login</button>
                        </div>
                    </div>
                </fieldset>
            </form>

        </div>
    </div>


</section>