@import "compass/css3";
//@import "compass/utilities/sprites";
$BASE_FONT_SIZE:12px;
//$icons: sprite-map("icons/*.png", $spacing: 15px, $repeat: no-repeat);
//$_blue : #3498ea;
$_greytext : rgb(105, 105, 105);
$_greyrow: #e4e3e2;
