.debug {
  display: none;
}

.debug-enabled .debug {
//  display: block;
}

.debug-controls {
  position: absolute;
  top: 0px;
  left: 0px;
  .button, .button:hover {
    font-size: 11px;
    padding: 5px 10px;
    margin-right: 1px;
    min-width: 150px;
    background: #f70078;
    border: none;
    color: white;
    font-family: $lucida;
    clear: both;
    display: block;
    margin-bottom: 1px;
    text-align: left;
    text-transform: capitalize !important;
    border: none !important;
    //  @extend .smooth-font;
    &.link {
      background: #999;
    }
    &:active {
      background: #666;
    }

  }
}